<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://www.jivesoftware.com/schemas/clearspace/2_5/plugin.xsd">
    <name>betterbookmarks</name>
    <description>betterbookmarks</description>
    <author>Matthew Tervo</author>
    <version>1.0.0</version>
    <minServerVersion>6.0</minServerVersion>
    <maxServerVersion>6.0.3</maxServerVersion>

    <!-- Database Key that should always be added, writing to the database or not -->
    <databaseKey>1000000</databaseKey>

    <!-- you will want to change your class name here! -->
    <class>com.jivesoftware.betterbookmarks.BetterBookmarksPlugin</class>

    <!---->
    <soy src="/plugins/betterbookmarks/resources/soy/better-bookmarks.soy" />


    <!-- Defines the menus where the plugin will exist, can find these in the ui-components.xml of the core code -->
    <components>
        <component id="user-profile">
            <tab id="betterbookmarks" cssClass="jive-icon-sml jive-icon-bookmark">
                <name><![CDATA[<@s.text name="profile.tab.betterbookmarks" />]]></name>
                <description>
                    <![CDATA[<#if viewingSelf><@s.text name="profile.tab.betterbookmarks.desc" /><#else><@s.text name="profile.tab.betterbookmarks.other.desc"><@s.param>${targetUserDisplayName?html}</@s.param></@s.text></#if>]]></description>
                <when><![CDATA[favoritingEnabled && !user.anonymous]]></when>
                <url><![CDATA[<@s.url value="/people/${targetUser.username?url}"/>/betterbookmarks]]></url>
            </tab>
        </component>
    </components>

</plugin>

