<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://www.jivesoftware.com/schemas/clearspace/2_5/plugin.xsd">
    <name>betterbookmarks</name>
    <description>betterbookmarks</description>
    <author>Matthew Tervo</author>
    <version>1.0.0</version>
    <minServerVersion>6.0</minServerVersion>
    <maxServerVersion>6.0.4</maxServerVersion>

    <!-- Needed to add DB tables -->
    <databaseVersion>60200000</databaseVersion>

    <!-- Database Key that should always be added, writing to the database or not -->
    <databaseKey>1000000</databaseKey>

    <!-- URL mapping class -->
    <urlmapping prefix="/betterbookmarks" class="com.jivesoftware.community.web.struts.mapping.PeopleURLMappingSupport" />

    <!-- you will want to change your class name here! -->
    <class>com.jivesoftware.managedbookmarks.BetterBookmarksPlugin</class>
    <class>com.jivesoftware.managedbookmarks.action.ProfileBetterBookmarksBrowseAction</class>

    <!--Soy files. -->
    <soy src="/plugins/betterbookmarks/resources/soy/betterbookmark.soy" />
    <soy src="/plugins/betterbookmarks/resources/soy/item_grid.soy" />
    <soy src="/plugins/betterbookmarks/resources/soy/layout.soy" />
    <soy src="/plugins/betterbookmarks/resources/soy/filters.soy" />

    <!-- CSS files. -->
    <css src="/resources/styles/betterbookmark.css"/>

    <!-- JavaScript files.
    <javascript src="/resources/script/apps/content/folder/creation/main.js" />
    -->

    <!-- User Profile tab -->
    <components>
        <component id="user-profile">
            <tab id="betterbookmarks" cssClass="jive-icon-sml jive-icon-bookmark">
                <name><![CDATA[<@s.text name="profile.tab.betterbookmarks" />]]></name>
                <description>
                    <![CDATA[<#if viewingSelf><@s.text name="profile.tab.betterbookmarks.desc" /><#else><@s.text name="profile.tab.betterbookmarks.other.desc"><@s.param>${targetUserDisplayName?html}</@s.param></@s.text></#if>]]></description>
                <when><![CDATA[favoritingEnabled && !user.anonymous]]></when>
                <url><![CDATA[<@s.url value="/people/${targetUser.username?url}"/>/betterbookmarks]]></url>
            </tab>
        </component>
    </components>

</plugin>

