<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd"
       default-autowire="no" default-init-method="init" default-destroy-method="destroy">




<!-- Jive Manager Bean Definitions. There are too many dependencies to other beans to make this
 file truely stand-alone. It's purpose is simply to provide a more manageable file and
 reduce merging pains. -->
    <bean id="jiveManager" abstract="true" depends-on="cacheFactoryManager"/>

    <!-- 4 -->
    <bean id="managedBookmarkManager" class="com.jivesoftware.managedbookmarks.impl.ManagedBookmarkManagerImpl"
          parent="jiveManager">
        <property name="managedBookmarkDAO" ref="managedBookmarkDAO"/>
    </bean>

</beans>