<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
       default-autowire="no" default-init-method="init" default-destroy-method="destroy">

    <bean id="betterbookmarks" class="com.jivesoftware.betterbookmarks.BetterBookmarksPlugin" ></bean>

    <!---->
    <bean id="peopleUrlMapping" scope="prototype"
          class="com.jivesoftware.community.web.struts.mapping.PeopleURLMappingSupport"> </bean>


    <!--
    <bean id="profileTabLinksSupportChild" class="com.jivesoftware.community.util.spring.MergeableCollection" parent="placeTabLinks" scope="prototype">
        <property name="source">
            <util:list value-type="com.jivesoftware.community.web.component.ActionLink" scope="prototype">
                <ref bean="betterBookmarksPlugin" />
            </util:list>
        </property>
    </bean>


    <bean id="betterBookmarksPlugin" class="com.jivesoftware.betterbookmarks.BetterBookmarksPlugin" parent="actionLinkBase" scope="prototype">
        <property name="ID" value="betterbookmarks" />
        <property name="nameKey" value="profile.tab.betterbookmarks" />
        <property name="url" value="/people" />
    </bean>

    -->

</beans>
       <!--
               <bean id="placeTabLinks" class="com.jivesoftware.community.util.spring.MergeableCollection" scope="prototype">
        <property name="source">
            <util:list value-type="com.jivesoftware.community.web.component.ActionLink" scope="prototype">
                <ref bean="placeTabOverviewLink"/>
                <ref bean="placeTabTasksLink"/>
                <ref bean="placeTabContentLink"/>
                <ref bean="placeTabPeopleLink"/>
                <ref bean="placeTabPlacesLink"/>
            </util:list>
        </property>
    </bean>
           -->